body
{
    background-image: url(../images/coffee.jpg);
    background-size: cover;
    background-position: 100% 100%;
}
.header
{
    background-color: rgba(0, 0, 0, 0.6);
    width: 55%;
}
.custom-select
{
    width: 20%;
}